.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.956055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(147,149,152);}
.fs1{font-size:32.000000px;}
.fs0{font-size:44.000000px;}
.fs2{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y12{bottom:328.879129px;}
.y11{bottom:342.079130px;}
.yc{bottom:356.496504px;}
.y9{bottom:405.196882px;}
.yb{bottom:446.647139px;}
.y10{bottom:464.000160px;}
.yf{bottom:477.200157px;}
.y8{bottom:487.696882px;}
.ye{bottom:490.400156px;}
.yd{bottom:503.600157px;}
.ya{bottom:531.293089px;}
.y7{bottom:573.196867px;}
.y6{bottom:616.163815px;}
.y5{bottom:644.387760px;}
.y15{bottom:674.594193px;}
.y4{bottom:676.401021px;}
.y3{bottom:676.630155px;}
.y14{bottom:696.194191px;}
.y16{bottom:697.016710px;}
.y2{bottom:700.388577px;}
.y1{bottom:713.345381px;}
.y13{bottom:717.794191px;}
.h2{height:24.000000px;}
.h1{height:33.000000px;}
.h3{height:35.083984px;}
.h4{height:54.000000px;}
.h0{height:780.000000px;}
.w0{width:540.000000px;}
.x0{left:0.000000px;}
.x4{left:54.631577px;}
.x3{left:61.791382px;}
.x9{left:67.175354px;}
.x7{left:69.467239px;}
.x6{left:71.850479px;}
.x5{left:73.968498px;}
.x8{left:77.724731px;}
.x1{left:88.287720px;}
.x2{left:143.234650px;}
.xa{left:226.707870px;}
.xc{left:310.271362px;}
.xb{left:345.558960px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:42.666667pt;}
.fs0{font-size:58.666667pt;}
.fs2{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y12{bottom:438.505506pt;}
.y11{bottom:456.105507pt;}
.yc{bottom:475.328672pt;}
.y9{bottom:540.262510pt;}
.yb{bottom:595.529518pt;}
.y10{bottom:618.666880pt;}
.yf{bottom:636.266876pt;}
.y8{bottom:650.262510pt;}
.ye{bottom:653.866875pt;}
.yd{bottom:671.466876pt;}
.ya{bottom:708.390785pt;}
.y7{bottom:764.262489pt;}
.y6{bottom:821.551753pt;}
.y5{bottom:859.183680pt;}
.y15{bottom:899.458923pt;}
.y4{bottom:901.868028pt;}
.y3{bottom:902.173539pt;}
.y14{bottom:928.258921pt;}
.y16{bottom:929.355614pt;}
.y2{bottom:933.851437pt;}
.y1{bottom:951.127174pt;}
.y13{bottom:957.058922pt;}
.h2{height:32.000000pt;}
.h1{height:44.000000pt;}
.h3{height:46.778646pt;}
.h4{height:72.000000pt;}
.h0{height:1040.000000pt;}
.w0{width:720.000000pt;}
.x0{left:0.000000pt;}
.x4{left:72.842102pt;}
.x3{left:82.388509pt;}
.x9{left:89.567139pt;}
.x7{left:92.622986pt;}
.x6{left:95.800639pt;}
.x5{left:98.624664pt;}
.x8{left:103.632975pt;}
.x1{left:117.716960pt;}
.x2{left:190.979533pt;}
.xa{left:302.277161pt;}
.xc{left:413.695150pt;}
.xb{left:460.745280pt;}
}
