*{font-family: century-gothic, AppleGothic, sans-serif;
}
body {
  font-style: italic;
  background-color: #EBECF0;
  font-family: century-gothic, AppleGothic, sans-serif;


}
.container {
  width: 100%;
  height: 100%;
  background-color: #EBECF0;
}

.sidebar {
  float: left;
  height: 100%;
  width: 30%;
}

.main_container {
  float: right;
  height: 100%;
  width: 70%;
}

#logo {
  /* margin: auto; */
  height: 15%;
  margin: 0 auto;
  overflow: hidden;
  border-top: 5px solid orange;
  padding: 0;
  width: 100%;
}


.profile {
  height: 15%;
  width: 100%;
  margin: 5% auto;
  /* padding: 10%; */
  background-color: white;
  border-radius: 6%;
}

.profile_photo {
  float: left;
  width:30%;
  border-radius: 50%;
  max-height: 90%;

}

.profile_details {
  float: left;
  margin: 5%;
  width:50%;
  height:25%;
  font-size: 11%;
  font-style: normal;

}

.button_container {
  float: left;
  height: 45%;
  width: 100%;
  background-color: #EBECF0;
  border-radius: 50%;

}

.button {
  background-color: white;
  font-size: 10%;

  border: none;
  color: white;
  padding: 5% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 120%;
  width: 100%;
  height: 20%;
  /* margin-bottom: 1%; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button span{
  color: #939597;
  font-weight: bold;
}

.button:hover {
  background-color: #D3D4D8;
  color: white;
}


.sign_out_container {
  float: left;
  height: 10%;
  width: 100%;
  background-color: purple;
}

#sign_out {
  height: 100%;
}

#photo {
  padding:1%;
  margin: auto;
  width: 20%;
}
